{yun:}include file="$wapstyle/header_cont.htm"{/yun}
<style type="text/css">
    body {
        background: #fff
    }
</style>
<div class="yunwapreg_box">
    <a href="{yun:}url m=wap c=register{/yun}" class="login_reg"><span class="login_reg_s1">其他类型</span></a>
    <section class="list">
        <article>
            {yun:}if $wxid && ($wxnickname || $wxpic){/yun}
            <div class="lg_at">
                <dl>
                    <dt><img style="width:75px;height:75px;border-radius:50px;" src="{yun:}$wxpic{/yun}"/></dt>
                    <dd class="lg_at_tit">{yun:}$wxnickname{/yun}</dd>
                    <dd class="lg_at_cr">您已登录微信账号</dd>
                </dl>
            </div>
            {yun:}/if{/yun}

            <div class="regform">
                <ul class="regtab">
                    {yun:}if $config.reg_moblie=='1'{/yun}
                    <li class="{yun:}if $type!='1' && $type != 3{/yun}current{yun:}/if{/yun}">
                        <a href="{yun:}url m=wap c=register usertype=1 type=2{/yun}" style="display:block;">手机注册</a>
                    </li>
                    {yun:}/if{/yun} {yun:}if $config.reg_email=='1'{/yun}
                    <li class="{yun:}if $type=='3'{/yun}current{yun:}/if{/yun}">
                        <a href="{yun:}url m=wap c=register usertype=1 type=3{/yun}" style="display:block;">邮箱注册</a>
                    </li>
                    {yun:}/if{/yun} {yun:}if $config.reg_user=='1'{/yun}
                    <li class="{yun:}if $type==1{/yun}current{yun:}/if{/yun}">
                        <a href="{yun:}url m=wap c=register usertype=1 type=1{/yun}" style="display:block;">用户名注册</a>
                    </li>
                    {yun:}/if{/yun}
                </ul>

                <form method="post" action="{yun:}$config_wapdomain{/yun}/index.php?c=register" onsubmit="return checkRegUser(this);" autocomplete="off">
                    <input name="regway" id="regway" type="hidden" value="{yun:}$type{/yun}" />
                    <input name="usertype" id="usertype" type="hidden" value="1" />

                    <dl class="forminputitem">
                        {yun:}if $config.reg_email=='1' && $type == 3{/yun}
                        <dd>
                            <div class="c ico_name inputitem_w">
                                <i class="reg_icon_font login_icon_n3 "></i>
                                <input class="inputitemtxt" placeholder="请填写您的邮箱" name="email" id="email" type="text" onblur="check_email();">
                                <span class="reg_yes" style="display: none;" id="email_yes"></span>
                            </div>
                        </dd>
                        <dd>
                            <div class="c ico_pwd2 inputitem_w">
                                <i class="reg_icon_font login_icon_n2 "></i>
                                <input class="inputitemtxt" onfocus="this.type='password'" placeholder="请填写密码，建议填写6-20位字母数字组合" name="password" id="password" type="text" onblur="check_password();">
                                <span class="reg_yes" style="display: none;" id="password_yes"></span>
                                <em class="viewpwd"></em></div>
                        </dd>

                        {yun:}if $config.reg_passconfirm=='1'{/yun}
                        <dd>
                            <div class="c ico_pwd2 inputitem_w">
                                <i class="reg_icon_font login_icon_n2 "></i>
                                <input class="inputitemtxt" onfocus="this.type='password'" placeholder="请确认填写的密码" name="passconfirm" id="passconfirm" type="text" onblur="check_passconfirm();">
                                <span class="reg_yes" style="display: none;" id="passconfirm_yes"></span>
                                <em class="viewpwd"></em></div>
                        </dd>
                        {yun:}/if{/yun} {yun:}if strpos($config.code_web,"注册会员")!==false{/yun}
                        <dd>
                            {yun:}if $config.code_kind==3{/yun}
                            <!--geetest-->
                            <div id="mask"></div>
                            <div id="popup-captcha-mobile" data-id='subreg' data-type='click'></div>
                            <input type='hidden' id="popup-submit"> {yun:}else{/yun}
                            <div class="c ico_name inputitem_w">
                                <i class="reg_icon_font login_icon_tpyz "></i>
                                <div class="reg_yzm_box">
                                    <input class="inputitemtxt" placeholder="请填写验证码，点图片换一换" name="checkcode" id="checkcode" type="text" maxlength="6" onblur="check_code()" />
                                    <div class="rg_img">
                                        <img id="vcodeimg" class="authcode" src="{yun:}$config.sy_wapdomain{/yun}/authcode.inc.php" onclick="checkCode('vcodeimg');" />

                                    </div>
                                </div>
                                <span class="reg_yes reg_yes_yz" style="display: none;" id="checkcode_yes"></span>
                            </div>
                            {yun:}/if{/yun}
                        </dd>
                        {yun:}/if{/yun} {yun:}if $config.reg_usertel=='1' || $config.reg_real_name_check == 1{/yun}
                        <dd>
                            <div class="c ico_name inputitem_w">
                                <i class="reg_icon_font login_icon_n4 "></i>
                                <input class="inputitemtxt" placeholder="请填写您的手机号码" name="moblie" id="moblie" type="number" onblur="check_moblie()" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')">
                                <span class="reg_yes" style="display: none;" id="moblie_yes"></span>
                            </div>
                        </dd>
                        {yun:}/if{/yun} {yun:}if $config.reg_real_name_check == 1{/yun}
                        <dd>
                            <div class="c ico_name inputitem_w">
                                <i class="reg_icon_font login_icon_n9 "></i>
                                <input class="inputitemtxt" placeholder="请填写短信验证码" name="moblie_code" id="moblie_code" type="text" onblur="check_moblie_code()" />

                                <a class="login_m_send2" href="javascript:void(0);" id="subreg" onclick="sendmsg('vcode_img');"><span id="time">获取短信验证码</span></a>

                                <span class="reg_yes reg_yes_yz" style="display: none;" id="moblie_code_yes"></span>
                            </div>
                        </dd>
                        {yun:}/if{/yun} {yun:}if $config.reg_username=='1' || $config.reg_real_name_check == 1 {/yun}
                        <dd>
                            <div class="c ico_name inputitem_w">
                                <i class="reg_icon_font login_icon_n6 "></i>
                                <input class="inputitemtxt" placeholder="请填写您的真实姓名" name="name" id="name" type="text" onblur="check_realname()">
                                <span class="reg_yes" style="display: none;" id="realname_yes"></span>
                            </div>
                        </dd>
                        {yun:}/if{/yun} {yun:}elseif $type==2 || $type==''{/yun}
                        <dd>
                            <div class="c ico_name inputitem_w">
                                <i class="reg_icon_font login_icon_n4 "></i>
                                <input class="inputitemtxt" placeholder="请填写您的手机号码" name="moblie" id="moblie" onblur="check_moblie();" type="number" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')">
                                <span class="reg_yes" style="display: none;" id="moblie_yes"></span>
                            </div>
                        </dd>
                        <dd>
                            <div class="c ico_pwd2 inputitem_w">
                                <i class="reg_icon_font login_icon_n2 "></i>
                                <input class="inputitemtxt" onfocus="this.type='password'" placeholder="请填写密码，建议填写6-20位字母数字组合" name="password" id="password" type="text" onblur="check_password();">
                                <span class="reg_yes" style="display: none;" id="password_yes"></span>
                                <em class="viewpwd"></em></div>
                        </dd>

                        {yun:}if $config.reg_passconfirm=='1'{/yun}
                        <dd>
                            <div class="c ico_pwd2 inputitem_w">
                                <i class="reg_icon_font login_icon_n2 "></i>
                                <input class="inputitemtxt" onfocus="this.type='password'" placeholder="请确认填写的密码" name="passconfirm" id="passconfirm" type="text" onblur="check_passconfirm();">
                                <span class="reg_yes" style="display: none;" id="passconfirm_yes"></span>
                                <em class="viewpwd"></em></div>
                        </dd>
                        {yun:}/if{/yun} {yun:}if strpos($config.code_web,"注册会员")!==false{/yun}
                        <dd>
                            {yun:}if $config.code_kind==3{/yun}
                            <!---geetest-->
                            <div id="mask"></div>
                            <div id="popup-captcha-mobile" data-id='subreg' data-type='click'></div>
                            <input type='hidden' id="popup-submit"> {yun:}else{/yun}
                            <div class="c ico_name inputitem_w">
                                <i class="reg_icon_font login_icon_tpyz "></i>
                                <div class="reg_yzm_box">
                                    <input class="inputitemtxt" placeholder="请填写验证码，点图片换一换" name="checkcode" id="checkcode" type="text" maxlength="6" onblur="check_code()" />
                                    <div class="rg_img">
                                        <img id="vcode_img" class="authcode" src="{yun:}$config.sy_wapdomain{/yun}/authcode.inc.php" onclick="checkCode('vcode_img');" />

                                    </div>
                                </div>
                                <span class="reg_yes reg_yes_yz" style="display: none;" id="checkcode_yes"></span>
                            </div>
                            {yun:}/if{/yun}
                        </dd>
                        {yun:}/if{/yun} {yun:}if $config.sy_msg_regcode==1 || $config.reg_real_name_check == 1{/yun}
                        <dd>
                            <div class="c ico_name inputitem_w">
                                <i class="reg_icon_font login_icon_n9 "></i>
                                <input class="inputitemtxt" placeholder="请填写短信验证码" name="moblie_code" id="moblie_code" type="text" onblur="check_moblie_code()" />

                                <a class="login_m_send2" href="javascript:void(0);" id="subreg" onclick="sendmsg('vcode_img');"><span id="time">获取短信验证码</span></a>

                                <span class="reg_yes reg_yes_yz" style="display: none;" id="moblie_code_yes"></span>
                            </div>
                        </dd>
                        {yun:}/if{/yun} {yun:}if $config.reg_username=='1' || $config.reg_real_name_check == 1{/yun}
                        <dd>
                            <div class="c ico_name inputitem_w">
                                <i class="reg_icon_font login_icon_n6 "></i>
                                <input class="inputitemtxt" placeholder="请填写您的真实姓名" name="name" id="name" type="text" onblur="check_realname()">
                                <span class="reg_yes" style="display: none;" id="realname_yes"></span>
                            </div>
                        </dd>
                        {yun:}/if{/yun} {yun:}if $config.reg_useremail=='1'{/yun}
                        <dd>
                            <div class="c inputitem_w ico_email">
                                <i class="reg_icon_font login_icon_n3 "></i>
                                <input class="inputitemtxt" placeholder="请填写您的邮箱" name="email" id="email" type="text" onblur="check_email()">
                                <span class="reg_yes" style="display: none;" id="email_yes"></span>
                            </div>
                        </dd>
                        {yun:}/if{/yun} {yun:}elseif $type==1{/yun}
                        <dd>
                            <div class="c ico_name inputitem_w">
                                <i class="reg_icon_font login_icon_n1 "></i>
                                <input class="inputitemtxt" placeholder="请填写用户名" name="username" id="username" type="text" onblur="check_username();">
                                <span class="reg_yes" style="display: none;" id="username_yes"></span>
                            </div>
                        </dd>
                        <dd>
                            <div class="c ico_pwd2 inputitem_w">
                                <i class="reg_icon_font login_icon_n2 "></i>
                                <input class="inputitemtxt" type="password" placeholder="请填写密码，建议填写6-20位字母数字组合" name="password" id="password" type="text" onblur="check_password();">
                                <span class="reg_yes" style="display: none;" id="password_yes"></span>
                                <em class="viewpwd"></em></div>
                        </dd>

                        {yun:}if $config.reg_passconfirm=='1'{/yun}
                        <dd>
                            <div class="c ico_pwd2 inputitem_w">
                                <i class="reg_icon_font login_icon_n2 "></i>
                                <input class="inputitemtxt" onfocus="this.type='password'" placeholder="请确认填写的密码" name="passconfirm" id="passconfirm" type="text" onblur="check_passconfirm();">
                                <span class="reg_yes" style="display: none;" id="passconfirm_yes"></span>
                                <em class="viewpwd"></em></div>
                        </dd>
                        {yun:}/if{/yun} {yun:}if strpos($config.code_web,"注册会员")!==false{/yun}
                        <dd>
                            {yun:}if $config.code_kind==3{/yun}
                            <!--geetest-->
                            <div id="mask"></div>
                            <div id="popup-captcha-mobile" data-id='subreg' data-type='click'></div>
                            <input type='hidden' id="popup-submit"> {yun:}else{/yun}
                            <div class="c ico_name inputitem_w">
                                <i class="reg_icon_font login_icon_tpyz "></i>
                                <div class="reg_yzm_box">
                                    <input class="inputitemtxt" placeholder="请填写验证码，点图片换一换" name="checkcode" id="checkcode" type="text" maxlength="6" onblur="check_code()" />
                                    <div class="rg_img">
                                        <img id="vcode_img" class="authcode" src="{yun:}$config.sy_wapdomain{/yun}/authcode.inc.php" onclick="checkCode('vcode_img');" />

                                    </div>
                                </div>
                                <span class="reg_yes reg_yes_yz" style="display: none;" id="checkcode_yes"></span>
                            </div>
                            {yun:}/if{/yun}
                        </dd>
                        {yun:}/if{/yun} {yun:}if $config.reg_usertel=='1' || $config.reg_real_name_check == 1{/yun}
                        <dd>
                            <div class="c ico_name inputitem_w">
                                <i class="reg_icon_font login_icon_n4 "></i>
                                <input class="inputitemtxt" placeholder="请填写您的手机号码" name="moblie" id="moblie" type="number" onblur="check_moblie()" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')">
                                <span class="reg_yes" style="display: none;" id="moblie_yes"></span>
                            </div>

                        </dd>
                        {yun:}/if{/yun} {yun:}if $config.reg_real_name_check == 1 {/yun}
                        <dd>
                            <div class="c ico_name inputitem_w">
                                <i class="reg_icon_font login_icon_n9 "></i>
                                <input class="inputitemtxt" placeholder="请填写短信验证码" name="moblie_code" id="moblie_code" type="text" onblur="check_moblie_code()" />

                                <a class="login_m_send2" href="javascript:void(0);" id="subreg" onclick="sendmsg('vcode_img');"><span id="time">获取验证码</span></a>

                                <span class="reg_yes reg_yes_yz" style="display: none;" id="moblie_code_yes"></span>
                            </div>
                        </dd>
                        {yun:}/if{/yun} {yun:}if $config.reg_username=='1' || $config.reg_real_name_check == 1{/yun}
                        <dd>
                            <div class="c ico_name inputitem_w">
                                <i class="reg_icon_font login_icon_n6 "></i>
                                <input class="inputitemtxt" placeholder="请填写您的真实姓名" name="name" id="name" type="text" onblur="check_realname()">
                                <span class="reg_yes" style="display: none;" id="realname_yes"></span>
                            </div>
                        </dd>
                        {yun:}/if{/yun} {yun:}if $config.reg_useremail=='1'{/yun}
                        <dd>
                            <div class="c inputitem_w ico_email">
                                <i class="reg_icon_font login_icon_n3 "></i>
                                <input class="inputitemtxt" placeholder="请填写您的邮箱" name="email" id="email" type="text" onblur="check_email()">
                                <span class="reg_yes" style="display: none;" id="email_yes"></span>
                            </div>
                        </dd>
                        {yun:}/if{/yun} {yun:}/if{/yun}

                        <dd class="mt15">
                            <input type="hidden" id="send" value="0" />
                            <input type="submit" name="submit" id="subreg" value="提交" class="inputSubmit">
                        </dd>
                        <dd>
                            <div class="photochk" style="width:100%; padding:10px 0;">
                                <input id="xieyi" type="checkbox" name="xieyi" value="1" class="inputChk" checked="checked">
                                <em style="width:100%">我已阅读并同意《<a href="javascript:void(0);" onclick="showservices()">{yun:}$config.sy_webname{/yun}注册协议</a>》</em>
                            </div>
                        </dd>
                    </dl>

                    <input type="hidden" id="isRealnameCheck" value="{yun:}$config.reg_real_name_check{/yun}" />
                </form>
            </div>
            <style>
                #popup-captcha-mobile {
                    margin-top: 15px;
                }
                
                #popup-captcha-mobile .geetest_radar_btn {
                    border: 1px solid #eee
                }
            </style>
        </article>
    </section>

    <!--注册协议弹出框-->
    <div style="width:100%;height:100%; background:rgba(51,51,51,0.5); position:fixed;left:0px;top:0px;z-index:100000000000;display:none" id="services">
        <div style="width:100%; position:absolute;left:0px;top:40px;">
            <div class="reg_xybox">
                <div class="reg_xybox_tit"><span class="reg_xybox_tit_s">注册协议</span>
                    <a href="javascript:void(0);" onclick="$('#services').hide();" class="reg_xybox_tit_a">关闭</a>
                </div>
                <div class="reg_xybox_p">
                    {yun:}$content.content{/yun}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="bg" style="display:none; z-index:1000000"></div>

<div class="" style="padding:0px 10px; position:fixed;top:80px; z-index:10000001; display: none;" id="written_off">
    <div style="padding:10px;width:320px; background:#fff;">
        <div class="reg_have_tip">
            <i class="reg_have_tip_icon"></i>
            <div class="reg_have_tip_tit"><span id="zy_type">该手机号已被注册为企业账号</span></div>
            <div class="reg_have_tip_zc" id="zy_name"></div>
        </div>
        <div class="reg_have_tip_p">
            1.如果是你本人，但不记得密码，您可以找回密码
            <a href="{yun:}url m=wap c=forgetpw{/yun}" class="reg_have_tip_bth">找回密码</a>
        </div>
        <div class="reg_have_tip_p">
			<span id="desc_toast">2. 解除手机号与该账号的绑定，解除绑定后，您无法 继续用该手机号登录</span>
            <a href="javascript:void(0);" onclick="CheckPW();" class="reg_have_tip_bth">解除绑定</a>
        </div>
        <div class="reg_have_tip_kf">如有疑问可拨打客服服务热线：{yun:}$config.sy_freewebtel{/yun}</div>
        <input type="hidden" id="zy_uid" value="" />
		<input type="hidden" id="zy_mobile" value="" />
		<input type="hidden" id="zy_email" value="" />
    </div>
</div>

<div class="tiny_show_tckbox" style="position:absolute;left:50%;bottom:220px; margin-left:-85px; z-index:10000;display:none;" id="postpw">
 	<div class="tiny_show_tckbox_cont pw">
    </div>
</div>

<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/layer/layer.m.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/public.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/prefixfree.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$wap_style{/yun}/js/reg_ajax.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/geetest/gt.js?v={yun:}$config.cachecode{/yun}"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/geetest/mobile.js?v={yun:}$config.cachecode{/yun}" type="text/javascript"></script>

{yun:}include file="$wapstyle/footer.htm"{/yun}