{yun:}include file="$wapstyle/header_cont.htm"{/yun}
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js?v={yun:}$config.cachecode{/yun}" language="javascript"></script>
<div class="yunwapreg_box">
	<a href="{yun:}url m=wap c=login{/yun}" class="login_reg"><span class="login_reg_s">登录</span></a>
	<div class="register_box">
		<ul>
			<li>
				<a href="{yun:}url m=wap c=register usertype=1{/yun}">
					<i class="register_box_user_img register_box_user_img_gr"></i>
					<div class="register_box_user_name">个人用户</div>
					<div class="register_box_user_ys">免费创建简历</div>
					<div class="register_box_user_ys">职位海量淘</div>
					<div class="register_box_user_ys">简历轻松投</div>

				</a>
			</li>
			<li>
				<a href="{yun:}url m=wap c=register usertype=2{/yun}">
					<i class="register_box_user_img register_box_user_img_qy"></i>
					<div class="register_box_user_name">企业用户</div>
					<div class="register_box_user_ys">发布招聘信息</div>
					<div class="register_box_user_ys">收取简历投递</div>
					<div class="register_box_user_ys">多种职位分享</div>

				</a>
			</li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
{yun:}include file="$wapstyle/footer.htm"{/yun}