{yun:}include file="$comstyle/header.htm"{/yun}
<script>
    function Close(id) {
        $("#" + id).hide();
        $("#bg").hide();
    }

    function Next() {
        $("#one_tip").hide();
        $("#two_tip").show();
    }

    function showindextip(id) {
        $(".indextiphide").hide();
        $("#indextiphide" + id).show();
    }

    function hideindextip() {
        $(".indextiphide").hide();
        $("#bg").hide();
    }
</script>
<div class="w1000">
    <div class="admin_mainbody">
    	{yun:}include file="$comstyle/left.htm"{/yun} 
    	
    	{yun:}if $company.hy=="" && ($smarty.get.c=="index" || $smarty.get.c=="") {/yun}
        <!--发布职位提示-->
        <div class="yun_com_indextip indextiphide" style="display:block;">
            <div class="yun_com_indextip_box">
                <i class="yun_com_indextip_jt"></i>
                <i class="yun_com_indextip_jl"></i>
                <div class="yun_com_indextip_p">在这里可以发布职位 </div>
                <a href="javascript:void(0);" onclick="showindextip('1');" class="yun_com_indexbth_next">下一步</a>
                <a href="javascript:void(0);" onclick="hideindextip();" class="yun_com_indexbth_tg">跳过</a>
            </div>
        </div>

        <!--应聘简历提示-->
        <div class="yun_resume_indextip indextiphide" id="indextiphide1" style="display:none;">
            <div class="yun_com_indextip_box">
                <i class="yun_com_indextip_jt"></i>
                <i class="yun_resume_indextip_jl"></i>
                <div class="yun_com_indextip_p">在这里可以查看应聘者的简历 </div>
                <a href="javascript:void(0);" onclick="showindextip('2');" class="yun_com_indexbth_next">下一步</a>
                <a href="javascript:void(0);" onclick="hideindextip();" class="yun_com_indexbth_tg">跳过</a>
            </div>
        </div>
        <!--cw职位提示-->
        <div class="yun_tg_indextip indextiphide" id="indextiphide2" style="display:none;">
            <div class="yun_com_indextip_box">
                <i class="yun_com_indextip_jt"></i>
                <i class="yun_com_indextip_cw"></i>
                <div class="yun_com_indextip_p">在这里可以推广职位 </div>
                <a href="javascript:void(0);" onclick="showindextip('3');" class="yun_com_indexbth_next">下一步</a>
                <a href="javascript:void(0);" onclick="hideindextip();" class="yun_com_indexbth_tg">跳过</a>
            </div>
        </div>
        <!--基本资料提示-->
        <div class="yun_info_indextip indextiphide" id="indextiphide3" style="display:none;">
            <div class="yun_com_indextip_box">
                <i class="yun_com_indextip_jt"></i>
                <i class="yun_info_indextip_zl"></i>
                <div class="yun_com_indextip_p">
                    <div class="yun_com_indextip_p_may">在这里可以</div>完善企业基本资料 </div>
                <a href="index.php?c=info" class="yun_com_indexbth_next">完善资料</a>
                <a href="javascript:void(0);" onclick="hideindextip();" class="yun_com_indexbth_tg">跳过</a>
            </div>
        </div>

        {yun:}/if{/yun} 
        {yun:}if $member.status != 1{/yun}
        <div class="admin_new_tip " style="margin-bottom:20px;">
            <div class="admin_new_tit"><i class="admin_new_tit_icon"></i>操作提示</div>
            <div class="admin_new_tip_list_cont">
                <div class="admin_new_tip_list"> 您的帐号尚未通过审核，发布的职位信息将在审核通过后展示 </div>

                <div id="forms" class="admin_new_tip_list">您暂时无法查看简历的联系方式，我们会24小时内进行审核请保持电话畅通，您可联系客服快速审核（{yun:}$config.sy_freewebtel{/yun}）</div>
            </div>
        </div>

        {yun:}/if{/yun} {yun:}if !$company.name{/yun}
        <div class="com_index_Prompt ">
            <span class="com_index_Prompt_tip ">您公司的资料还未填写完整，暂时还不可以发职位哦</span>
            <a href="index.php?c=info" class="com_index_Prompt_ws cblue ">完善资料>></a>
        </div>
        {yun:}/if{/yun} {yun:}if $company.yyzz_status!="1"{/yun}
        <div class="com_index_Prompt ">
            <span class="com_index_Prompt_tip ">您公司还没进行营业执照认证，可能会影响您的招聘效果哦</span>
            <a href="index.php?c=binding" class="com_index_Prompt_ws cblue ">立即认证>></a>
        </div>
        {yun:}/if{/yun}

        <div class="clear"></div>
        <!--  首页-->
        <div class="com_m_index_right">
            <div class="comindex_info_box">
                <div class="comindex_info_logo">
                    <div class="comindex_info_logo_img">
                        <a href="index.php?c=uppic" class="">
                            <img src="{yun:}$company.logo{/yun}" width="100" height="100" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_unit_icon{/yun}','2')" /></a>
                    </div>

                    <a href="index.php?c=uppic" class="comindex_info_logo_a cblue">修改LOGO</a>
                </div>

                <div class="comindex_comname">
                    {yun:}if $company.name{/yun} {yun:}$company.name{/yun}{yun:}if $company_rating.com_pic{/yun} <img src="{yun:}$config.sy_weburl{/yun}/{yun:}$company_rating.com_pic{/yun}" width="16" height="16">{yun:}/if{/yun} {yun:}else{/yun}
                    <a href="index.php?c=info" style="color:#f60; text-decoration:underline">您还未完善企业信息，点击完善！</a>
                    {yun:}/if{/yun}
                </div>
                <div class="com_m_index_vip_box">
                    我的服务：<span class="com_m_index_vip_box_c">{yun:}$statis.rating_name{/yun}</span>&nbsp;&nbsp;&nbsp; 会员服务时间：
                    <span class="f60">
							<em class="com_m_index_vip_box_c_3">
								{yun:}if $statis.vip_etime > time(){/yun}
									{yun:}$statis.vip_stime|date_format:'%Y.%m.%d'{/yun}-</em>{yun:}$statis.vip_etime|date_format:'%Y-%m-%d'{/yun}
								{yun:}else if $statis.vip_etime==0{/yun}
									{yun:}$statis.vip_stime|date_format:'%Y.%m.%d'{/yun}-</em>永久
								{yun:}else{/yun}
									{yun:}$statis.vip_stime|date_format:'%Y.%m.%d'{/yun}-</em>{yun:}$statis.vip_etime|date_format:'%Y-%m-%d'{/yun}
								{yun:}/if{/yun}
						</span>

                    <a href="index.php?c=right" class="com_m_index_vip_sj"><i class="com_m_index_vip_sj_icon"></i>升级VIP会员</a>
                    <a href="index.php?c=right&act=added" target="_blank" class="com_m_index_vip_a">购买增值包</a>
                </div>
                <div class="comindex_rz ">
                    {yun:}if $company.email_status=="1"{/yun}
                    <a title="邮件已验证" href="index.php?c=binding" class="comindex_rz_a">
                        <i class="comindex_rz_icon comindex_rz_yxyrz"></i>邮箱已验证
                    </a>
                    {yun:}else{/yun}
                    <a title="邮件未验证" href="index.php?c=binding" class="comindex_rz_a">
                        <i class="comindex_rz_icon comindex_rz_yxwrz"></i>邮箱未验证
                    </a>
                    {yun:}/if{/yun} {yun:}if $company.moblie_status=="1"{/yun}
                    <a title="手机已验证" href="index.php?c=binding" class="comindex_rz_a">
                        <i class="comindex_rz_icon comindex_rz_sjyrz"></i>手机已验证
                    </a>
                    {yun:}else{/yun}
                    <a title="手机未验证" href="index.php?c=binding" class="comindex_rz_a">
                        <i class="comindex_rz_icon comindex_rz_sjwrz"></i>手机未验证
                    </a>
                    {yun:}/if{/yun} {yun:}if $company.yyzz_status=="1"{/yun}
                    <a title="营业执照已验证" href="index.php?c=binding" id="biza" class="comindex_rz_a">
                        <i class="comindex_rz_icon comindex_rz_zzyrz"></i>营业执照已验证
                    </a>
                    {yun:}else{/yun}
                    <a title="营业执照未验证" href="index.php?c=binding" id="biza" class="comindex_rz_a">
                        <i class="comindex_rz_icon comindex_rz_zzwrz"></i>营业执照未验证
                    </a>
                    {yun:}/if{/yun}
                </div>
                <div class="comindex_cz">
                    <div class="comindex_cz_list">
                        <a href="index.php?c=info" class="comindex_cz_a cblue"><i class="comindex_cz_icon"></i>编辑资料</a>
                        <i class="comindex_cz_line">|</i>
                        <a href="{yun:}url  m=company c=show id='`$uid`'{/yun}" target="_blank" class="comindex_cz_a cblue "><i class="comindex_cz_icon comindex_cz_icon_yl"></i>预览主页</a>
                        <i class="comindex_cz_line">|</i>
                        <a href="index.php?c=comtpl" class="comindex_cz_a cblue">
                            <i class="comindex_cz_icon comindex_cz_icon_set"></i>模板设置</a>
                    </div>
                </div>

                <div class="com_index_sign_box">
                    <div class="com_index_sign">{yun:}sign{/yun}</div>
                </div>

                <div class="comindex_logintime">上次登录时间：{yun:}$member.login_date|date_format:'%Y-%m-%d %H:%M'{/yun} </div>

                <i class="com_index_line"></i>
                <div class="comindex_money">
                    <div class="comindex_money_h1">可用{yun:}$config.integral_pricename{/yun}</div>
                    <div class="comindex_money_m">
                        <span id="integral" class="comindex_money_n">{yun:}$statis.integral{/yun}<em class="comindex_money_m">{yun:}$config.integral_priceunit{/yun}</em></span>
                    </div>
                    <div class="comindex_money_zt"> 已支付订单
                        <a href="index.php?c=paylog" style="color:red">{yun:}$payed{/yun}</a><i class="comindex_cz_line">|</i>未付款
                        <a href="index.php?c=paylog" style="color:red">{yun:}$paying{/yun}</a>
                    </div>
                    <div class="comindex_money_pd">
                        <a href="index.php?c=pay&type=integral" class="comindex_money_pd_a cblue">充值</a>
                        <a href="index.php?c=paylog&consume=ok" class="comindex_money_pd_a cblue">明细</a>
                        <a href="index.php?c=integral" class="comindex_money_pd_a cblue">赚{yun:}$config.integral_pricename{/yun}</a>
                    </div>
                    <div class="comindex_money_sy">
                        <a href="index.php?c=integral_reduce">消费规则>></a>
                    </div>
                </div>
            </div>

            <div class="clear"></div>
            <div class="index_banner">   <a href="index.php?c=right"><img src="{yun:}$com_style{/yun}/images/banner_hy.png"></a></div>
            <div class="comindex_box">
                <div class="yun_m_index_date_box">
                    <div class="yun_m_index_date_box_tit"> 招聘管理</div>
                    <div class="yun_m_index_date_list">
                        <a href="index.php?c=hr">
                            <div class="yun_m_index_date_n">
                                <span class="yun_m_index_date_n_m">{yun:}$des_resume{/yun}
								{yun:}if $de_resume>0{/yun}
									<i class="yun_m_index_data_list_n_new">{yun:}$de_resume{/yun}</i>
								{yun:}/if{/yun}</span></div>
                            <div class="yun_m_index_datename">收到简历</div>
                        </a>
                    </div>
                    <a href="index.php?c=down">
                        <div class="yun_m_index_date_list">
                            <div class="yun_m_index_date_n"> {yun:}$down_resume{/yun}</div>
                            <div class="yun_m_index_datename">下载简历</div>
                        </div>
                    </a>
                    <a href="index.php?c=look_resume">
                        <div class="yun_m_index_date_list">
                            <div class="yun_m_index_date_n"> {yun:}$look_resume{/yun}</div>
                            <div class="yun_m_index_datename">浏览记录</div>
                        </div>
                    </a>
                    <a href="index.php?c=attention_me">
                        <div class="yun_m_index_date_list yun_m_index_date_list_end">
                            <div class="yun_m_index_date_n"> {yun:}$company.ant_num{/yun}</div>
                            <div class="yun_m_index_datename">关注记录</div>
                        </div>
                    </a>
                </div>
                <div class="clear"></div>

                <div class="com_m_index_vip">
                    <div class="yun_m_index_date_box_tit mt20" style="position:relative; padding-bottom:10px;"> 简历速配
                        <a href="index.php?c=attention_me" class="com_m_index_vip_look" target="_blank">查看关注我公司的人才>></a>
                    </div>
                    <div id="resumelist" class="com_m_index_resume">

                        <div id="noresumelist" class="msg_no none">根据您的招聘需求，暂未匹配到合适的简历！ </div>
                    </div>
                </div>
                <div class="com_m_index_vip_right">

                    <div class="com_m_index_kjcz">
                        <div class="com_m_index_kjcz_tit"> 快捷操作 </div>
                        <div class="com_m_index_kjcz_p">
                            <a href="javascript:;" onclick="return RefreshAll('{yun:}$jobids{/yun}');"><i class="com_m_index_kjcz_p_icon"></i>刷新职位</a>
                            <input type="hidden" id="refreshjobids" value="" />
                        </div>
                        <div class="com_m_index_kjcz_p">
                            <a href="javascript:void(0)" onclick="jobadd_url('{yun:}$addjobnum{/yun}','{yun:}$config.integral_job{/yun}','','{yun:}$config.com_integral_online{/yun}','{yun:}$config.integral_proportion{/yun}');return false;"><i class="com_m_index_kjcz_p_icon com_m_index_kjcz_p_icon_fb"></i>发布职位</a>
                        </div>
                        <div class="com_m_index_kjcz_p">
                            <a href="index.php?c=job&w=1"> <i class="com_m_index_kjcz_p_icon com_m_index_kjcz_p_icon_zd"></i>置顶职位</a>
                        </div>
                    </div>
                    {yun:}if $guweninfo.id{/yun}
                    <div class="com_index_kf mt20">
                        <div class="com_m_index_h1"><span class="com_m_index_h1_s" style="font-size:14px;">Hi,我是您的客服经理</span></div>
                        <div class="com_index_kf_box">
                            <div class="com_index_kf_box_user">
                                <div class="com_index_kf_box_user_photo">
                                    <img src="{yun:}$guweninfo.logo{/yun}" style="width:64px;height:64px">
                                </div>
                                <div class="com_index_kf_box_username">{yun:}$guweninfo.username{/yun}</div>
                                <div class="">
                                    {yun:}if $guweninfo.qq{/yun}
                                    <a target="_blank" href="tencent://message/?uin={yun:}$guweninfo.qq{/yun}&Site={yun:}$config.sy_webname{/yun}&Menu=yes">
                                        <img border="0" src="http://wpa.qq.com/pa?p=1:{yun:}$guweninfo.qq{/yun}:12" alt="点击这里给我发消息"></a>
                                    {yun:}/if{/yun}
                                </div>
                            </div>
                            <div class="com_index_kf_p">电话：{yun:}$guweninfo.mobile{/yun}</div>
                            <div class="com_index_kf_p">微信：{yun:}$guweninfo.weixin{/yun}</div>
                            <div class="com_index_kf_p">Q Q：{yun:}$guweninfo.qq{/yun}</div>
                            <div class="com_index_kf_p">
                                {yun:}if $atn.uid{/yun}
                                <a href="javascript:void(0)" class="com_index_kf_dz">
                                    <i class="com_index_kf_dz_icon"></i>已点赞
                                </a>
                                {yun:}else{/yun}
                                <a href="javascript:void(0)" onclick="zan('{yun:}$guweninfo.id{/yun}');" class="com_index_kf_dz">
                                    <i class="com_index_kf_dz_icon"></i>点赞
                                </a>
                                {yun:}/if{/yun} {yun:}if is_array($report)&& !$report.result{/yun}
                                <a href="index.php?c=report&act=show" class="com_index_kf_ts">
                                    <i class="com_index_kf_ts_icon"></i>已投诉
                                </a>
                                {yun:}else{/yun}
                                <a href="javascript:void(0)" onclick="reportgw('{yun:}$guweninfo.id{/yun}','投诉顾问');" class="com_index_kf_ts"><i class="com_index_kf_ts_icon"></i>投诉</a>
                                {yun:}/if{/yun}
                            </div>
                        </div>
                    </div>
                    {yun:}else{/yun}
                    <div class="com_index_kf mt20">
                        <div class="com_m_index_h1"><span class="com_m_index_h1_s">招聘顾问</span></div>
                        <div class="com_index_kf_box">
                            <div class="com_index_kf_box_user">
                                <div class="com_index_kf_box_user_photo">
                                    <img src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_guwen{/yun}" style="width:64px;height:64px">
                                </div>
                                <div class="com_index_kf_box_username">网站客服</div>
                                <div class="">
                                    {yun:}if $kfqq{/yun}
                                    <a target="_blank" href="tencent://message/?uin={yun:}$kfqq{/yun}&Site={yun:}$config.sy_webname{/yun}&Menu=yes">
                                        <img border="0" src="http://wpa.qq.com/pa?p=1:{yun:}$kfqq{/yun}:12" alt="点击这里给我发消息"></a>
                                    {yun:}/if{/yun}
                                </div>
                            </div>
                            <div class="com_index_kf_p">电话：{yun:}$config.sy_freewebtel{/yun}</div>
                            <div class="com_index_kf_p">手机：{yun:}$config.sy_webmoblie{/yun}</div>
                            <div class="com_index_kf_p">Q Q：{yun:}$kfqq{/yun}</div>
                            {yun:}if $config.wx_name{/yun}
                            <div class="com_index_kf_p">微信：{yun:}$config.wx_name{/yun}</div>
                            {yun:}/if{/yun}
                        </div>
                    </div>
                    {yun:}/if{/yun}
                    <div class="index_wx_box">
                        <div class="index_wx_box_ewm"> <img src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_wx_qcode{/yun}" width="80" height="80"></div>
                        <div class="index_wx_box_tit">微信招聘 </div>
                        扫码分享微信朋友圈， 招人更简单
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--投诉顾问弹出框-->
<div id="{yun:}$guweninfo.id{/yun}" style="display:none;">
    <div class="Binding_pop_box" style="padding:10px;width:350px;height:200px; background:#fff;">

        <div class="complaint_hi">尊敬的用户您好！</div>
        <div class="complaint_p">为了能够给您提供高质量的服务，反馈具体情况，我们会第一时间给您满意的答复！</div>
        <div class="complaint_p_gw" style="padding:10px 0;color:#f00">您要投诉的顾问是：{yun:}$guweninfo.username{/yun}</div>
        <div class="popjb_tip"></div>

        <div class="">
            <textarea id="reason" name="reason" class="complaint_text"></textarea>
        </div>
        <div class="complaint_bot">
            <input class="com_pop_bth_qd" onclick="reportSub('index.php?c=report')" type="button" value="确定">
            <input type='hidden' value="{yun:}$guweninfo.id{/yun}" id='eid' name='eid'>
            <input class="com_pop_bth_qx" type="button" value="取消" onclick="layer.close($('#layindex').val());">
        </div>
    </div>
</div>
<!----end--->

<!--刷新职位提示弹出框-->

<div id="shuaxin" style="display:none;">
    <div class="sx_pd">
        <div class="sx_top">
            <dl>
                <dt></dt>
                <dd>
                    <div>今天还没刷新，刷新职位将<em class="sx_bot_or">职位排名提前</em><br/>让人才更容易看到你，<em class="sx_bot_or">提高职位申请率！</em></div>
                    <div class="sx_top_t">
                        <em class="sx_top_t_tt">刷新前请确认以下信息准确完整：</em>
                        <p>联系电话：{yun:}$company.linktel{/yun}</p>
                        <p>上次刷新时间：{yun:}$company.lastupdate|date_format:"%Y-%m-%d %H:%M:%S"{/yun}</p>
                        <p>招聘职位：{yun:}$jobnames{/yun} </p>
                    </div>
                </dd>
            </dl>
        </div>
    </div>

    <div class="sx_bot">
        <a class="sx_bot_sx" href="javascript:void(0)" onclick="RefreshAll('{yun:}$jobids{/yun}');">刷新</a>
        <a class="sx_bot_qx" href="javascript:void(0)">取消</a>
    </div>

</div>

<div id="updaterating" style="display:none;">
    <div class="sx_pd">
        <div class="sx_top">
            <dl>
                <dt></dt>
                <dd>
                    <div>
                        <em class="sx_top_t_tt">尊敬的企业用户您好！</em>
                    </div>
                    <div class="sx_top_t">很抱歉，你的会员<em class="sx_bot_or">已到期</em><br/> 
                    	服务时间：
                        <em class="sx_bot_or">{yun:}$statis.vip_stime|date_format:'%Y.%m.%d'{/yun}-{yun:}$statis.vip_etime|date_format:'%Y-%m-%d'{/yun}</em>
                    </div>
                    <div class="sx_top_t">
                     	<p>为了更好地使用招聘服务，请先 <a href="index.php?c=right" style="color: red;">续费会员</a> ！</p>
                    </div>

                </dd>
            </dl>
        </div>
    </div>

    <div class="sx_bot">
        <a class="sx_bot_sx" href="index.php?c=right">续费</a>
        <a class="sx_bot_qx" href="javascript:void(0)">取消</a>
    </div>

</div>

<script type="text/javascript">
    function RefreshAll(id) {
        var chk_value = [];
        chk_value = id.split(",");

        if(chk_value.length == 0) {
            layer.msg("您暂无发布中的职位！", 2, 8);
            return false;
        } else {
            //判断是否达到每天最大操作次数
            $.post(weburl + '/index.php?m=ajax&c=ajax_day_action_check', {
                    'type': 'refreshjob'
                },
                function(data) {
                    layer.closeAll('loading');
                    data = eval('(' + data + ')');
                    if(data.status == -1) {
                        layer.msg(data.msg, 2, 8);
                    } else if(data.status == 1) { //未达到最大操作次数，可以继续刷新职位
                        $("#refreshjobids").val(chk_value);
                        var jobid = $("#refreshjobids").val();
                        var breakjob_num = '{yun:}$statis.breakjob_num{/yun}';
                        var sxdj = '{yun:}$config.integral_jobefresh{/yun}';
                        var online = '{yun:}$config.com_integral_online{/yun}';
                        var pro = '{yun:}$config.integral_proportion{/yun}';
                        var num = accSub(chk_value.length, breakjob_num);
                        var sxneed = accMul(sxdj, num);
                        if(online == 3) {
                            var sxneed = accMul(sxneed, pro);
                        }
                        var ajaxUrl = weburl + "/member/index.php?c=job&act=refresh_job";
                        $.post(ajaxUrl, {
                            jobid: jobid
                        }, function(data) {
                            data = eval('(' + data + ')');
                            if(data.error == 1) {
                                layer.msg(data.msg, 2, 9, function() {
                                    window.location.href = '';
                                });
                            } else if(data.error == 2) {

                                if(online == 3) {
                                    var msg = '很抱歉，您的套餐已用完，继续操作将会消费 <span class="job_add_tck_bq_money">' + sxneed + ' </span>积分';
                                } else {
                                    var msg = '很抱歉，您的套餐已用完，继续操作将会消费 <span class="job_add_tck_bq_money">' + sxneed + ' </span>元';
                                }

                                var msglayer = layer.open({
                                    type: 1,
                                    title: '刷新职位',
                                    closeBtn: 1,
                                    border: [10, 0.3, '#000', true],
                                    area: ['550px', 'auto'],
                                    content: $("#tcmsg")
                                });

                                $("#msg_show").html(msg);
                                $("#pay_jobid").val(chk_value);
                                $("#pay_need").val(sxneed);
                                $("#btn_value").html('<a href="javascript:void(0);" onclick="onRefresh();">确定</a>');

                            } else {
                                if(data.url) {
                                    layer.msg(data.msg, 2, 9, function() {
                                        window.location.href = data.url;
                                    });
                                } else {
                                    layer.msg(data.msg, 2, 8);
                                }
                            }
                        });
                    }
                }); //end post 判断是否达到每天最大操作次数
        }
    }
</script>

<!--提示弹出框 end-->
<script type="text/javascript">
    var jobrefresh = '{yun:}$smarty.cookies.jobrefresh{/yun}';

    layui.use(['layer'], function() {
        var layer = layui.layer,
            $ = layui.$;

        '{yun:}if $company.hy != "" && $norefresh !=1  && $normal_job_num != 0 && $un_refreshjob_num != 0 && $smarty.cookies.jobrefresh!=1{/yun}'

        var shuaxinlayer = layer.open({
            type: 1,
            title: '刷新职位',
            closeBtn: 0,
            border: [10, 0.3, '#000', true],
            area: ['500px', 'auto'],
            content: $("#shuaxin")
        });

        $(".sx_bot_qx").click(function() {
            layer.close(shuaxinlayer);
        })

        '{yun:}else if $norefresh == 1 && $smarty.cookies.jobrefresh!=1{/yun}'

        var updatelayer = layer.open({
            type: 1,
            title: '升级会员',
            closeBtn: 0,
            border: [10, 0.3, '#000', true],
            area: ['500px', 'auto'],
            content: $("#updaterating")
        });

        $(".sx_bot_qx").click(function() {
            layer.close(updatelayer);
        })

        '{yun:}/if{/yun}'
    });

    2
        '{yun:}if $jobs{/yun}'
    $(function() {
        hsresumelist();
    })
    '{yun:}/if{/yun}'

    function reportgw(eid, title) {
        var layindex = $.layer({
            type: 1,
            title: title,
            closeBtn: [0, true],
            border: [10, 0.3, '#000', true],
            area: ['400px', '300px'],
            page: {
                dom: "#" + eid
            }
        });
        $("#layindex").val(layindex);
    }

    function reportSub(url) {
        var reason = $("#reason").val();
        var eid = $("#eid").val();
        if(reason == '') {
            layer.msg('请填写投诉内容！', 2, 8);
            return false;
        }
        $.post(url, {
            reason: reason,
            eid: eid
        }, function(data) {
            layer.close($('#layindex').val());
            if(data == '0') {
                layer.msg('投诉失败！', 2, 8);
            } else if(data == '1') {
                layer.msg('投诉成功！', 2, 9, function() {
                    window.location.reload();
                });
            } else if(data == '2') {
                layer.msg('已投诉成功，等待管理员回复！', 2, 8);
            }
        });
    }

    function zan(id) {
        $.post("index.php?m=ajax&c=guwenZan", {
            id: id
        }, function(data) {
            if(data == '2') {
                layer.msg('请不要重复点赞！', 2, 8);
            } else if(data == '1') {
                layer.msg('点赞成功！', 2, 9, function() {
                    window.location.reload();
                });
            }
        });
    }

    function hsresumelist() {
        $.get('index.php?c=index&act=resumeajax', {
            rand: Math.random()
        }, function(data) {
            var res = JSON.parse(data);
            if(res.list.length > 0) {
                var html = '';
                for(var i = 0; i < res.list.length; i++) {
                    html += '<div class="com_index_rue_list"><dl>';
                    html += '<dt><a href="' + res.list[i].resumeurl + '" target="_blank"><img src="' + res.list[i].photo + '" width="40" height="40" title="' + res.list[i].username_n + '"/></a></dt>';
                    html += '<dd><strong><a class="blod" href="' + res.list[i].resumeurl + '" target="_blank" title="' + res.list[i].username_n + '">' + res.list[i].username_n + '</a></strong>';
                    html += '<div class="com_index_rue_list_js">' + res.list[i].cityname + '<i class="com_index_rue_listline">|</i>' + res.list[i].edu_n + '<i class="com_index_rue_listline">|</i>' + res.list[i].exp_n + '</div>';
                    html += '<div class="com_index_rue_list_yx"><span class="com_index_rue_list_yx_s">意向职位：</span><span class="comn_index_user">' + res.list[i].jobname + '</span></div></dd></dl></div>';
                }
                $("#resumelist").prepend(html);
            } else {
                $("#noresumelist").removeClass('none');
            }
        })
    }
</script>

{yun:}include file="$comstyle/com_tc_server.htm"{/yun} {yun:}include file="$comstyle/footer.htm"{/yun}